*{margin: 0%
    ;padding: 0px;}

body{ background-color: hsla(0, 26%, 93%, 0.878) }
         
    
    .home .nav {
        background-color: rgb(0, 0, 0,.4);
        overflow:auto;
        
    
    }
    .home .nav ul{ 
        list-style-type: none
    }
    .home .nav ul li a  {
    
        color: white;
        text-decoration: none;
        font-size: 26px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        }
     .home .nav ul li a:hover {
            background-color: lawngreen;
            transition: 1ms;
            border-bottom: lightcoral;
            border-radius: 20px;
        }
    
        
    
    .home .nav ul li{
        padding: 10px;
        margin-top: 10px;
        float: right;
    }
    
    
    
    
    .home .nav ul .logo{
        float: left;
        padding: 10px;
        margin-top: 10px;
       
      
    }
    .home .nav ul .logo a{
        color: white;
    }
    .home .nav ul .logo a span{
    color: red;
    }
    
    
    
    
    .home img {width: 400px; height: 250px;
    }
    .ss {
        text-align: center;
        background-color: red;
       margin: 20px;
    }
    
    
    /*.product{height: auto;
       
        margin-top: 100px;
         ;}*/
         .test{  width: 30%; 
            height: 220px;
            background-color:transparent;
            text-align: center ;
            margin: 8px;
            padding:7px;
            float:left;
        
        
       
        }
        .test h4{
            float: right;
            margin-top: 0px;
            font-size: 20px;
            font-style: bold;
        }
        .test p{margin: 7px;}
        

        .test img {  padding: auto;
            height: 50px; 
                 

        }
             .test img{border: double rgb(0, 128, 128)
                
             }
        
           .test button{padding: 5px;
            width: 300px;
            background-color: brown;
            border-radius: 18px;
            margin: 12px;

        
        }
         
        
        .style{
        text-align: center;
        background-color: goldenrod}
        .sr{font-size: 80px ;color: red;}
        .back {width: 100%; height: auto;
        
        }